*{word-wrap:break-word}
html,body,h1,h2,h3,h4,h5,h6,hr,p,iframe,dl,dt,dd,ul,ol,li,pre,form,button,input,textarea,th,td,fieldset{margin:0;padding:0}
ul,ol,dl{list-style-type:none}
html,body{*position:static}
html{font-family: sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:400}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}
input,button{overflow: visible;vertical-align:middle;outline:none}
body,th,td,button,input,select,textarea{font-family:"Microsoft Yahei","Hiragino Sans GB","Helvetica Neue",Helvetica,tahoma,arial,Verdana,sans-serif,"WenQuanYi Micro Hei","\5B8B\4F53";font-size:12px;color: #333;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing:grayscale}
body{line-height:1.6}
/* h1,h2,h3,h4,h5,h6{font-size:100%} */
a,area{outline:none;blr:expression(this.onFocus=this.blur())}
a{text-decoration:none;cursor: pointer;color:#333;}
 a:hover{text-decoration:none;color:#6CA96E;outline:none} 
a.ie6:hover{zoom:1}
a:focus{outline:none}
a:hover,a:active{outline:none}:focus{outline:none}
sub,sup{vertical-align:baseline}
button,input[type="button"], input[type="submit"] {line-height:normal !important;}
/*img*/
img{border:0;vertical-align:middle}
a img,img{-ms-interpolation-mode:bicubic}
.img-responsive{max-width: 100%;height: auto}
 
/*IE下a:hover 背景闪烁*/
*html{overflow:-moz-scrollbars-vertical;zoom:expression(function(ele){ele.style.zoom = "1";document.execCommand("BackgroundImageCache",false,true)}(this))}
 
/*HTML5 reset*/
header,footer,section,aside,details,menu,article,section,nav,address,hgroup,figure,figcaption,legend,video{display:block;margin:0;padding:0}time{display:inline}
/*audio,canvas,video{display:inline-block;*display:inline;*zoom:1}*/
audio:not([controls]){display:none}
legend{width:100%;margin-bottom:20px;font-size:21px;line-height:40px;border:0;border-bottom:1px solid #e5e5e5}
legend small{font-size:15px;color:#999}
svg:not(:root) {overflow: hidden}
fieldset {border-width:0;padding: 0.35em 0.625em 0.75em;margin: 0 2px;border: 1px solid #c0c0c0}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {height: auto}
input[type="search"] {-webkit-appearance: textfield; /* 1 */-moz-box-sizing: content-box;-webkit-box-sizing: content-box; /* 2 */box-sizing: content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {-webkit-appearance: none}
/*
Name:			style_clearfix
Example:		class="clearfix|cl"
Explain:		Clearfix（简写cl）避免因子元素浮动而导致的父元素高度缺失能问题
*/
.fl{float: left;}.fr{float: right;}
.cl:after,.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}.cl,.clearfix{zoom:1}
html,body{ width:100%; height: 100%;color:#333;background-color: #F9F9F9;}
.content{ width: 100%; height: 100%;}
.container{ width:1200px; height:100%; margin: 0 auto;}
.bgWhite{background-color: white;}
.bdNone{border: none}
.mgR10{margin-right: 10px;}
 .price{  color: #FF8E2B;  }
.el-input__inner::-ms-input-placeholder{
    text-align: left;
    color: #bababa !important;
    opacity:1;
}
.el-input__inner::-webkit-input-placeholder{
    color: #bababa !important;
    opacity:1;
    text-align: left;
}

.el-input__inner::-moz-placeholder{
    color: #bababa !important;
    opacity:1;
    text-align: left;
}
.el-input__inner:focus{
    border-color:#6CA96E !important;
}
.el-select .el-input__inner:focus{
    border-color:#6CA96E !important;
}
.el-dialog__headerbtn:focus .el-dialog__close, .el-dialog__headerbtn:hover .el-dialog__close{
    color:#6CA96E !important;
}
.cart_box .el-table__body-wrapper{
    border-bottom: 1px solid ;
}
/*我的用户中表格的样式  */
.el-table--border td, .el-table--border th{
	  border-color: #ddd  ;
  }
  .el-table td, .el-table th.is-leaf{
	  border-color: #ddd ;
  }
 .el-table th{
	  background-color: #f2f2f2  ;
  }
 .el-table__footer-wrapper thead div, .el-table__header-wrapper thead div{
	  background-color: #f2f2f2  ;
  }

